* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 10%;
    font: 25px 'Open Sans', sans-serif;
    color: grey;
    text-align: center;
}

a,
a:visited {
    outline: none;
    color: #389dc1;
}

a:hover {
    text-decoration: none;
}

section,
footer,
header,
aside,
nav {
    display: initial;
}